.contents
  .contents__hader
    .contents__hader--box
      アクセス　セミナー会場
  .contents__box
    .contents__box--one
      ［電車でお越しの場合］
      %br
      ■ 東京メトロ有楽町線 地下鉄成増駅 3番出口 前の専用バス停より送迎バス 約15分
      %br
      　（東武東上線 成増駅 南口より送迎バス乗り場まで徒歩5分）
      %br
      ■ 西武池袋線 石神井公園駅 南口より送迎バス 約15分
      %br
      ■ 都営地下鉄大江戸線 光が丘駅 A5出口の路線バス停付近より送迎バス 約5分
    .contents__box--two
      ［お車でお越しの場合］
      %br
      ■ 関越自動車道 練馬ICより約10分
      %br
      ※谷原方面からお越しの際は、高松5丁目交差点にて折返しください。
      %br
      ● 駐車場のご案内
      %br
      収容台数
      %br
      80台

      料金

      基本料金　1時間￥300　以降30分毎￥150
  .contents__box--three
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3237.7937730909384!2d139.61887471526086!3d35.75587328017696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ec3d600ec595%3A0x29a704f5a20db508!2z44Ob44OG44Or44Kr44OH44Oz44OE44Kh5YWJ44GM5LiY!5e0!3m2!1sja!2sjp!4v1583731325800!5m2!1sja!2sjp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>


