* {
  box-sizing: border-box;

.contents{
  width:$yoko;
  height:$tate;
  &__sabuone{
    margin-top: 70px;
    width:$yoko;
    height: 600px;
    padding:$waku;
    &--box{
      width:$yoko;
      height:600px;
      background-image:  image-url("bg/haikei2.jpg");
      background-size: 100% 100%;
      display: flex;
      &--one{
        width:28%;
        font-size: 18px;
        color:blue;
        font-weight: bold;
      }
      &--two{
        width:28%;
        font-size: 18px;
        color:blue;
        font-weight: bold;
        margin-left: 10px;
      }
      &--three{
        width:28%;
        font-size: 18px;
        color:blue;
        font-weight: bold;
        margin-left: 10px;
      }
      &--four{
        width:14%;
        margin-top: 25px;
      }
    }
    .hon{
      width:$yoko;
    }
  }
  &__sabutwo{
    width:$yoko;
    height: 600px;
    padding:$waku;
    &--box{
      width:$yoko;
      height:600px;
      background-image:  image-url("bg/kamo.jpg");
      background-size: 100% 100%;
      display: flex;

      &--one{
        margin-top: 10px;
        width:43%;
        
      }
      &--two{
        margin-top: 10px;
        width:43%;
      }
      &--three{
        width:14%;
        margin: 10px 0 0 20px;
        &--text{
          width:$yoko;
          height: 350px;
          padding-left: 10px;
        }
      }
      .icon3{
        width:$yoko;
      }
      .icon4{
        margin-top: 10px;
        width:$yoko;
        
      }
      .icon5{
        margin-left: 20px;
        width:$yoko;
      }
      .icon6{
        margin-top: 10px;
        margin-left: 20px;
        width:$yoko;
      }
    }

  }
  &__sabuthree{
    width:$yoko;
    height: 600px;
    padding:$waku;
    &--box{
      width:$yoko;
      height:600px;
      background-image:  image-url("bg/mayo.jpg");
      background-size: 100% 100%;
    }
  }
  &__sabufour{
    width:$yoko;
    height: 600px;
    padding:$waku;
    &--box{
      width:$yoko;
      height:600px;
      background-image:  image-url("bg/mayo.jpg");
      background-size: 100% 100%;
    }
  }

  &__footer{
    width:$yoko;
    height: 100px;
    background-color:burlywood;
    padding:$waku;
    background-image:  image-url("bg/haikei4.jpg");
    background-size: 100% 100%;
    
    &--box{
      width:$yoko;
      height: 30px;
      padding: 20px 0 ;
      
      a{
        text-decoration: none;
        padding-right: 10px;
        font-size: 15px;
        font-weight: 300;
      }
    }
    .contents__footer--name{
      width:$yoko;
      height: 30px;
      margin: 20px 0;
      text-align: center;
      line-height: 20px;
      font-weight: bold;
      font-style:italic ;
      
      
    }
    a{
      text-decoration: none;
      color: black;
    }
    }
  }
}

