* {
  box-sizing: border-box;
  .contents{
    width:100%;
    height: 100vh;
  &__hader{
    width:100%;
    height:100px;
    background-color:rgb(54, 50, 50);
    font-size: 40px;
    font-weight: 700;
    color: lightgray;
    font-style: oblique;
    padding: 15px 0 0 100px;
    }
    &__box{
      padding: 0 100px;
      width:100%;
      height:160px;
      display: flex;
      background-color: rgb(243, 241, 241);
      &--one{
        width:50% ;
        height:100vh ;
        font-size: 14px;
      }
      &--two{
        width:50% ;
        height:100vh;
        font-size: 14px;
      }
        &--three{
          width:100% ;
          height:100vh;
          padding: 0 0 0 100px;
        }


        }
      }
    }