* {
  box-sizing: border-box;
  .contents{
    width:100%;
    height: 100vh;
  &__hader{
    width:100%;
    height:100px;
    background-color:rgb(54, 50, 50);
    font-size: 40px;
    font-weight: 700;
    color: lightgray;
    font-style: oblique;
    padding: 15px 0 0 100px;
    }
    &__box{
      padding: 0 100px;
      width:100%;
      height:100%;
      display: flex;
      &--one{
        width:20% ;
        background-color: lightpink;
        &--text{
          span{
            font-size: 12px;
          }
          font-size: 25px;

          }
        }
      &--two{
        width: 45%;
        background-color: rgb(107, 168, 206);
        .contents__box--two--text{

          }
        }
      &--three{
        width: 16%;
        background-color: rgb(209, 189, 201);
        margin-top: 10px;
        }
    .hon{
      width:100% ;
      transform: rotate( +90deg );
    }
    .hon1{
      transform: rotate( +180deg );
    }
    }
  }
}